---
import Header from '../components/home/Header.jsx';
import Showcase from '../components/home/Showcase.jsx';
import About from '../components/home/About.jsx';
import Gallery from '../components/home/Gallery.jsx';
import Footer from '../components/home/Footer.jsx';

---
<html lang="en">
  <head>
    <meta charset="UTF-8" />

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <title>Astro + TailwindCSS</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
  </head>

  <body class="bg-gray-400">
    <Header />
    <Showcase client:load />
    <About />
    <Gallery />
    <Footer />
  </body>
</html>
