---
import Header from '../components/home/Header.jsx';
import Showcase from '../components/home/Showcase.jsx';
import About from '../components/home/About.jsx';
import Gallery from '../components/home/Gallery.jsx';
import Footer from '../components/home/Footer.jsx';

---
<html lang="en" style="scroll-behavior: smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Holmgrens bygg och service. Hjälper dig med allt från takskottning till husbygge! Sundsvall | Alnö | Njurunda | Timrå | Härnösand | Kovland | Snickare | Bygg | Service">

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <title>Holmgrens Bygg & Service</title>
    <link rel="stylesheet" type="text/css" href="/global.css">

    <!-- TODO: Extract this into a separate file? Include only the relevant icon? -->
    <script src="https://kit.fontawesome.com/914921b4ef.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-navy bg-house-min bg-auto bg-no-repeat">
    <Header />
    <Showcase client:load />
    <About />
    <Gallery client:visible /> <!-- TODO: Should this be client:visible? -->
    <Footer />
  </body>
</html>
