---
import svgWave from '../../public/images/shapes/layered-waves-haikei.svg'; // svg === '/src/image.svg'
---

<div class="-mt-96">
    <div class="spacer-waves border-4"/>
    <div class="bg-spacer-waves flip"/>
</div>